# ========================
# React Frontend
# ========================
project/node_modules/
project/.env
project/dist/
project/build/

# ========================
# Spring Boot Backend
# ========================
demo/target/
demo/.env
demo/logs/
*.log
*.iml
*.class

# ========================
# Maven & IDE
# ========================
.idea/
*.iws
*.ipr
*.iml
*.swp
*.bak

# OS generated
.DS_Store
Thumbs.db


*.env
